// dùng để thiết lập những css chung
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  input {
    @apply outline-none;
  }
}
input:focus + .error-input {
  display: none;
}
.quill {
  @apply border border-strock rounded-xl;
  padding: 15px 25px;
  .ql-toolbar.ql-snow {
    border: none;
    @apply bg-text4 bg-opacity-10 rounded-xl py-3 px-5 inline-block;
  }
  .ql-container.ql-snow,
  .ql-editor {
    @apply border-none font-primary text-sm;
  }
  .ql-editor {
    @apply pt-10;
  }
  .ql-editor.ql-blank::before {
    @apply text-sm not-italic text-text4;
  }
}

/* CSS */
.modal-container {
  // position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh; /* Đặt kích thước tối đa là 80% chiều cao của viewport */
  width: 90%; /* Đặt chiều rộng modal */
  max-width: 600px; /* Đặt chiều rộng tối đa của modal */
  overflow-y: auto; /* Hiển thị thanh cuộn khi nội dung vượt quá kích thước tối đa */
  background-color: white; /* Màu nền của modal */
  padding: 1rem; /* Padding bên trong modal */
  border-radius: 8px; /* Bo góc modal */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
}
